## .NET build output
bin/
obj/
out/

## .NET / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]uild/
[Bb]ld/
[Ll]og/
[Ll]ogs/

## Publish output
publish/
*.[Pp]ublish.xml
*.azurePubxml
PublishScripts/
